.title-styling {
  display: flex;
  align-items: center;
  padding-left: 115px;
}

.title {
  padding-left: 9.32px;
}

.nav-elements {
  left: 22.22%;
  right: 46.25%;
  top: 2.6%;
  bottom: 94.92%;
  padding-left: 92.35px;
}

.nav-elements > button {
  background: none;
  border: none;
  width: 103px;
  height: 44px;
}
