.title-styling {
  display: flex;
  align-items: center;
  padding-left: 115px;
}

.title {
  font-family: "Cormorant Garamond", serif;
  padding-left: 9.32px;
}

.nav-elements {
  left: 22.22%;
  right: 46.25%;
  top: 2.6%;
  bottom: 94.92%;
  padding-left: 92.35px;
}

.nav-elements > button {
  background: none;
  border: none;
  width: 103px;
  height: 44px;
}

.main-image {
  position: absolute;
  left: 804px;
  width: 636px;
  height: 918px;
  top: 0px;
}

.pinwheels {
  position: absolute;
  top: 191px;
  left: 12.49%;
  right:83.92%;
  bottom: 87.61%;
}

.span-styling {
  position: absolute;
  left: 8.47%;
  right: 52.85%;
  top: 248px;
  bottom: 77.98%;
}

.normal-font {
  font-family: "Cormorant Garamond", serif;
  font-size: 65px;
  font-weight: 500;
  line-height: 70.86px;
}

.bold-font {
  font-family: "Cormorant Garamond", serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 70.86px;
}
